@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?7283703');
  src: url('../font/fontello.eot?7283703#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?7283703') format('woff2'),
       url('../font/fontello.woff?7283703') format('woff'),
       url('../font/fontello.ttf?7283703') format('truetype'),
       url('../font/fontello.svg?7283703#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7283703#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook-circled-1:before { content: '\e800'; } /* '' */
.icon-facebook-2:before { content: '\e801'; } /* '' */
.icon-facebook-5:before { content: '\e802'; } /* '' */
.icon-facebook-6:before { content: '\e803'; } /* '' */
.icon-facebook-rect-1:before { content: '\e804'; } /* '' */
.icon-facebook-7:before { content: '\e805'; } /* '' */
.icon-facebook-rect-2:before { content: '\e806'; } /* '' */
.icon-facebook-circled-2:before { content: '\f051'; } /* '' */
.icon-facebook-4:before { content: '\f052'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-facebook-3:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-twitter-2:before { content: '\e807'; } /* '' */
.icon-twitter-circled-1:before { content: '\e808'; } /* '' */
.icon-twitter-4:before { content: '\e809'; } /* '' */
.icon-twitter-5:before { content: '\e80a'; } /* '' */
.icon-twitter-bird-1:before { content: '\e80b'; } /* '' */
.icon-twitter-circled-2:before { content: '\f057'; } /* '' */
.icon-twitter-3:before { content: '\f058'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-gplus-3:before { content: '\e80c'; } /* '' */
.icon-google-1:before { content: '\e80d'; } /* '' */
.icon-googleplus-rect:before { content: '\e80e'; } /* '' */
.icon-googleplus:before { content: '\e80f'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e810'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-google-plus-circle:before { content: '\f2b3'; } /* '' */
.icon-gplus-circled-1:before { content: '\f059'; } /* '' */
.icon-gplus-2:before { content: '\f05a'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus-1:before { content: '\f0d5'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-tablet-1:before { content: '\e811'; } /* '' */
.icon-tablet-2:before { content: '\e812'; } /* '' */
.icon-lemon:before { content: '\e813'; } /* '' */
.icon-code-1:before { content: '\e814'; } /* '' */
.icon-code-outline:before { content: '\e815'; } /* '' */
.icon-code-2:before { content: '\e816'; } /* '' */
.icon-code-3:before { content: '\e817'; } /* '' */
.icon-pinterest-circled-2:before { content: '\e818'; } /* '' */
.icon-pinterest-2:before { content: '\e819'; } /* '' */
.icon-pinterest-3:before { content: '\e81a'; } /* '' */
.icon-pinterest-4:before { content: '\e81b'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-pinterest-1:before { content: '\f312'; } /* '' */
.icon-pinterest-circled-1:before { content: '\f313'; } /* '' */
.icon-mail:before { content: '\e81c'; } /* '' */
.icon-mail-1:before { content: '\e81d'; } /* '' */
.icon-mail-2:before { content: '\e81e'; } /* '' */
.icon-mail-3:before { content: '\e81f'; } /* '' */
.icon-mail-4:before { content: '\e820'; } /* '' */
.icon-email:before { content: '\e821'; } /* '' */
.icon-mail-5:before { content: '\e822'; } /* '' */
.icon-mail-circled:before { content: '\e823'; } /* '' */
.icon-mail-6:before { content: '\e824'; } /* '' */
.icon-mail-7:before { content: '\e825'; } /* '' */
.icon-bookmark:before { content: '\e826'; } /* '' */
.icon-bookmark-1:before { content: '\e827'; } /* '' */
.icon-bookmarks:before { content: '\e828'; } /* '' */
.icon-bookmark-2:before { content: '\e829'; } /* '' */
.icon-bookmark-3:before { content: '\e82a'; } /* '' */
.icon-bookmark-empty-1:before { content: '\e82b'; } /* '' */
.icon-folder:before { content: '\e82c'; } /* '' */
.icon-folder-1:before { content: '\e82d'; } /* '' */
.icon-folder-2:before { content: '\e82e'; } /* '' */
.icon-folder-3:before { content: '\e82f'; } /* '' */
.icon-folder-empty-1:before { content: '\e830'; } /* '' */
.icon-folder-5:before { content: '\e831'; } /* '' */
.icon-folder-circled:before { content: '\e832'; } /* '' */
.icon-folder-close:before { content: '\e833'; } /* '' */
.icon-folder-open-1:before { content: '\e834'; } /* '' */
.icon-folder-6:before { content: '\e835'; } /* '' */
.icon-android-1:before { content: '\e836'; } /* '' */
.icon-windows-1:before { content: '\e837'; } /* '' */
.icon-tablet-3:before { content: '\f033'; } /* '' */
.icon-folder-4:before { content: '\f067'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-folder-empty-2:before { content: '\f069'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-folder-open-empty-1:before { content: '\f4c2'; } /* '' */
